In [1]:
import pandas as pd

In [2]:
df_net = pd.read_csv('netflix_titles.csv')
df_net

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
df_imdb = pd.read_csv('imdb.csv')
df_imdb = df_imdb.drop(['Poster_Link', 'Gross', 'No_of_Votes'], axis=1)
cast = df_imdb['Star1'] +', ' + df_imdb['Star2'] +', ' + df_imdb['Star3'] +', ' + df_imdb['Star4']
pd.DataFrame(cast)
df_imdb['cast'] = cast
df_imdb.drop(['Star1', 'Star2', 'Star3', 'Star4'], axis=1)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,cast
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi..."
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke..."
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian..."
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ..."
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,"Audrey Hepburn, George Peppard, Patricia Neal,..."
996,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,"Elizabeth Taylor, Rock Hudson, James Dean, Car..."
997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,"Burt Lancaster, Montgomery Clift, Deborah Kerr..."
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,"Tallulah Bankhead, John Hodiak, Walter Slezak,..."
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,"Robert Donat, Madeleine Carroll, Lucie Mannhei..."

In [5]:
df_rot = pd.read_csv('rot_tmt.csv')
df_rot = df_rot[['movie_title', 'rotten_tomatoes_link', 'directors', 'authors', 'original_release_date', 'genres']]
df_rot

,movie_title,rotten_tomatoes_link,directors,authors,original_release_date,genres
0,Percy Jackson & the Olympians: The Lightning T...,m/0814255,Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan",2010-02-12,"Action & Adventure, Comedy, Drama, Science Fic..."
1,Please Give,m/0878835,Nicole Holofcener,Nicole Holofcener,2010-04-30,Comedy
2,10,m/10,Blake Edwards,Blake Edwards,1979-10-05,"Comedy, Romance"
3,12 Angry Men (Twelve Angry Men),m/1000013-12_angry_men,Sidney Lumet,Reginald Rose,1957-04-13,"Classics, Drama"
4,"20,000 Leagues Under The Sea",m/1000079-20000_leagues_under_the_sea,Richard Fleischer,Earl Felton,1954-01-01,"Action & Adventure, Drama, Kids & Family"
...,...,...,...,...,...,...
17707,Zoot Suit,m/zoot_suit,Luis Valdez,Luis Valdez,1981-10-02,"Drama, Musical & Performing Arts"
17708,Zootopia,m/zootopia,"Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston",2016-03-04,"Action & Adventure, Animation, Comedy"
17709,Zorba the Greek,m/zorba_the_greek,NaN,NaN,1964-12-17,"Action & Adventure, Art House & International,..."
17710,Zulu,m/zulu,"Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble",1964-06-17,"Classics, Drama"
17711,Zulu Dawn,m/zulu_dawn,Douglas Hickox,"Cy Endfield, Anthony Storey",1979-12-14,"Action & Adventure, Art House & International,..."

In [45]:
dataset = pd.DataFrame()

cast = df_net['cast'] + df_imdb['cast'] + df_rot['authors']
dataset['Cast'] = cast
dataset.dropna(inplace=True)

all_casts = dataset['Cast'].str.split(',')

flattened_casts = [name.strip() for sublist in all_casts for name in sublist]

name_counts = pd.Series(flattened_casts).value_counts()

repeated_names = name_counts[name_counts > 1]

def remove_duplicates(cast_list):
    if isinstance(cast_list, list):
        return ', '.join(sorted(set(name.strip() for name in cast_list)))
    return None

dataset['Unique_Cast'] = dataset['Cast'].str.split(',').apply(remove_duplicates)
dataset
#ta tudo errado

,Cast,Unique_Cast
1,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","Al Pacino, Ama Qamata, Arno Greeff, Cindy Mahl..."
2,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","Aaron Eckhart, Bakary DiomberaChristian Bale, ..."
4,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","Ahsaas Channa, Alam Khan, Arun KumarHenry Fond..."
5,"Kate Siegel, Zach Gilford, Hamish Linklater, H...","Alex Essoe, Annabeth Gish, Annarah Cymone, Cry..."
6,"Vanessa Hudgens, Kimiko Glenn, James Marsden, ...","Alfred Hitchcock, Bruce WillisAlma Reville, Ch..."
...,...,...
993,"Jessie Mei Li, Archie Renaux, Ben Barnes, Fred...","Amita Suman, Archie Renaux, Ben Barnes, Calaha..."
994,"Bisola Aiyeola, Efa Iwara, Molawa Onajobi, Tin...","Bisola Aiyeola, Danny Cannon, Efa Iwara, Georg..."
996,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...","Anna Ishii, Carroll BakerRichard Matheson, Go ..."
998,"Ma Anand SheelaTallulah Bankhead, John Hodiak,...","Albert S. Ruddy, Becky Johnston, Charles Finch..."
999,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Anna Kendrick, Daniel Dae Kim, Godfrey TearleN..."